  .w-webflow-badge {
    display: none !important;
  }



  /*=============================================
  =                  Nav block                  =
  =============================================*/

  .nav_btn.is-active {
    font-weight: 700;
    color: var(--_colors---text--main);
  }

  .nav_btn.is-active .nav_btn_line {
    transform: translate(0%);
  }

  .nav_component.is-hidden,
  .options_main.is-hidden,
  .options_progress.is-hidden {
    opacity: 0;
    pointer-events: none;
    transform: translateY(-0.5rem);
  }

  .options_main.is-hidden .options_item {
    pointer-events: none;
  }

  /*=====        End of Nav block        ======*/





  /*=============================================
  =                    Toggle                   =
  =============================================*/

  .toggle_component:hover .toggle_switch_bg {
    opacity: 0.25;
  }

  .toggle_component.is-active:hover .toggle_switch_bg {
    opacity: 0.6;
  }

  .toggle_component.is-active .toggle_switch_bg {
    background-color: var(--_colors---brand--main);
  }

  .toggle_component.is-active .toggle_switch_icon {
    transform: translate(-1.5rem, -50%);
  }

  /*=====          End of Toggle         ======*/





  /*=============================================
  =                Water Surface                =
  =============================================*/

  .actions_btn.is-active {
    background-color: var(--_colors---brand--main);
  }

  .actions_btn.is-active:hover {
    background-color: var(--_colors---brand--main-60)
  }

  /*=====      End of Water Surface      ======*/




  /*=============================================
  =                Technical Data               =
  =============================================*/

  .technical-data_text>*:nth-child(2n) {
    font-weight: 600;
  }

  @media screen and (max-width: 479px) {
    .technical-data_text p:nth-child(2n + 1) {
      padding-left: 0;
      padding-right: 0.375rem;
    }

    .technical-data_text p:nth-child(2n) {
      padding-left: 0.375rem;
      padding-right: 0;
    }
  }

  /*=====      End of Technical Data     ======*/




  /*=============================================
  =                   Options                   =
  =============================================*/

  .options_nav-btn.is-hidden {
    opacity: 0;
    pointer-events: none;
  }

  .options_color-btn.is-active {
    border-color: var(--_colors---brand--main);
    pointer-events: none;
  }

  .options_color-btn.is-disabled .options_color-btn_colors {
    opacity: 0.5;
  }

  .options_color-btn.is-disabled .options_color-btn_text {
    color: var(--_colors---options--disabled-text);
  }

  .options_btn.is-active,
  .options_btn.is-active+.options_btn {
    background-color: var(--_colors---brand--main);
  }

  @media screen and (pointer: fine) {
    .options_btn:hover+.options_btn {
      background-color: var(--_colors---options--hover);
    }

    .options_btn:active+.options_btn {
      background-color: var(--_colors---options--default);
    }

    .options_btn.is-active:hover,
    .options_btn.is-active:hover+.options_btn,
    .options_btn.is-active+.options_btn:hover {
      background-color: var(--_colors---brand--main-60);
    }

    .options_btn.is-active:active,
    .options_btn.is-active+.options_btn:active {
      background-color: var(--_colors---brand--main-60);
    }

  }

  .options_btn.is-inactive+.options_btn,
  .options_btn.is-disabled+.options_btn {
    pointer-events: none;
    background-image: url(https://cdn.prod.website-files.com/685413654baa638cbdfc35f7/68ad68bd6ee4b6a824f6809f_i-disabled.svg);
    cursor: default;
  }


  @media screen and (max-width: 390px) {
    .options_controls.is-grid {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
  }

  /*=====         End of Options         ======*/



  /*=============================================
  =                     Form                    =
  =============================================*/

  .form_error-message.is-shown {
    display: block;
    opacity: 1;
    max-height: 2.375rem;
  }

  /*=====           End of Form          ======*/




  /*=============================================
  =               Tablets > 991px               =
  =============================================*/

  @media screen and (max-width: 1140px) {
    .actions_component {
      flex-flow: column;
      justify-content: flex-end;
      align-items: flex-start;
    }

    .actions_btn {
      margin-top: .75rem;
      margin-right: 0;
    }


    .options_nav-btn:hover {
      background-color: transparent;
    }

    .options_nav-btn:active {
      background-color: var(--_colors---options--hover);
    }
  }

  /*=====     End of Tablets > 991px     ======*/